[submodule "themes/hugo-theme-techdoc"]
	path = themes/hugo-theme-techdoc
	url = https://github.com/thingsym/hugo-theme-techdoc.git
[submodule "codelabs"]
	path = codelabs
	url = https://github.com/elk-workshop/codelabs.git